<div class='jumbotron'>
	<h1><i class='fa fa-circle-o-notch fa-spin'></i> StukDo</h1>
	<p>This is my smart To-Do list RoR application</p>
	<%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
</div>

